elsarticle-template.aux
elsarticle-template.bbl
elsarticle-template.blg
elsarticle-template.fdb_latexmk
elsarticle-template.fls
elsarticle-template.log
elsarticle-template.out
elsarticle-template.spl
elsarticle-template.synctex.gz
main.aux
main.bbl
main.blg
main.fdb_latexmk
main.fls
main.log
main.out
main.pdf
main.spl
main.synctex.gz
